<!doctype html>

<html>
    <head>
        <title>Real Estate Listings</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
            <div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">
				 Real Estate Listings
			</p>
		</div>
		<div class="col-md-9">
			<div class="card mb-3">
				<img class="card-img-top" src="<%= property.image %>" alt="<%= property.name %>">
				<div class="card-body">
					<h4 class="float-right">
                        £ <%= property.price %>
					</h4>
					<h5 class="card-title">
						<a href="#"><%= property.name %></a> 
					</h5>
					<p>
						<%= property.description %>
					</p> 
					<p>
                        <a href="/api/property/show/<%= property._id %>/edit">Edit</a>
					</p>
                    <form action="/api/property/show/<%= property._id %>?_method=DELETE" method="POST">       
                        <button>
                            Delete
                        </button>
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>
    </body>
</html>